###
### Activated protocols
#############################

protocols = imap pop3 lmtp

login_greeting = Dovecot DA ready.
mail_access_groups = mail
default_login_user = dovecot

default_process_limit=512
default_client_limit=2048

###
### Mail location
#######################

mail_uid = {{ dovecot_user }}
mail_gid = {{ dovecot_user }}
mail_privileged_group = {{ dovecot_user }}


mail_home = {{ dovecot_vmail_dir }}/mailboxes/%d/%n
mail_location = maildir:~/mail:LAYOUT=fs


###
### Client authentication
#############################

auth_username_chars = abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ01234567890.-_@&
auth_verbose = yes
disable_plaintext_auth = no
auth_mechanisms = plain login

passdb {
  driver = shadow
}

passdb {
  args = username_format=%n /etc/virtual/%d/passwd
  driver = passwd-file
}

service auth {
  user = root
}

service imap-login {
  process_min_avail = 16
  user = dovecot
}
service pop3-login {
  process_min_avail = 16
  user = dovecot
}

userdb {
  driver = passwd
}
userdb {
  args = username_format=%n /etc/virtual/%d/passwd
  driver = passwd-file
}

###
### TLS config
#######################

ssl = required
ssl_cert = <{{ dovecot_ssl_cert }}
ssl_key = <{{ dovecot_ssl_key }}
ssl_dh_parameters_length = 2048
ssl_protocols = !SSLv2 !SSLv3
ssl_cipher_list = EDH+CAMELLIA:EDH+aRSA:EECDH+aRSA+AESGCM:EECDH+aRSA+SHA256:EECDH:+CAMELLIA128:+AES128:+SSLv3:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!DSS:!RC4:!SEED:!IDEA:!ECDSA:kEDH:CAMELLIA128-SHA:AES128-SHA
ssl_prefer_server_ciphers = yes



###
### Dovecot services
################################

# LMTP socket for local delivery from postfix 
service lmtp {
    unix_listener /var/spool/postfix/private/dovecot-lmtp {
        mode = 0660
        group = postfix
        user = postfix
    }

    user = {{ dovecot_user }}
}


###
###  Protocol settings
#############################

protocol pop3 {
  pop3_uidl_format = %08Xu%08Xv
  pop3_logout_format = top=%t/%p, retr=%r/%b, del=%d/%m, size=%s, bytes=%i/%o
}

protocol imap {
    mail_plugins = $mail_plugins quota imap_quota antispam
    mail_max_userip_connections = 20
    imap_idle_notify_interval = 29 mins
}

protocol lmtp {
    postmaster_address = {{ dovecot_postmaster }}
    mail_plugins = $mail_plugins sieve
}




###
### Mailbox configuration
########################################

#namespace inbox {
#    inbox = yes
#
#    mailbox Spam {
#        auto = subscribe
#        special_use = \Junk
#    }
#
#    mailbox Trash {
#        auto = subscribe
#        special_use = \Trash
#    }
#
#    mailbox Drafts {
#        auto = subscribe
#        special_use = \Drafts
#    }
#
#    mailbox Sent {
#        auto = subscribe
#        special_use = \Sent
#    }
#}



###
### Mail plugins
############################


plugin {
    sieve_before = {{ dovecot_vmail_dir }}/sieve/global/spam-global.sieve
    sieve = {{ dovecot_vmail_dir }}/sieve/%d/%n/active-script.sieve
    sieve_dir = {{ dovecot_vmail_dir }}/sieve/%d/%n/scripts

    quota = maildir:User quota
    quota_exceeded_message = User %u has exhausted allowed storage space.

    antispam_backend = pipe
    antispam_spam = Spam
    antispam_trash = Trash
    antispam_pipe_program = {{ dovecot_vmail_dir }}/spampipe.sh
    antispam_pipe_program_spam_arg = --spam
    antispam_pipe_program_notspam_arg = --ham
}
